<%= form_tag "/cars", method: :post do %>
  Manufacturer:<input type="text" name="manufacturer">
  Car ID:<input type="text" name="identification_number">
  <button class="submit"> Submit</button>
<% end %>